.main-header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #d9d9d9;
  background: linear-gradient(to bottom, #f7f7f7, #ffffff);
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  &__categories {
    font-size: 1.15rem;
    &:hover {
      cursor: pointer;
      color: $accent1;
    }
  }
}

.single__header {
  margin-bottom: 5%;
}

.active {
  color: $accent1;
}
