@mixin btnStyle() {
  font-weight: bolder;
  padding: 15px 30px;
  border: 2px solid $accent2;
  color: $accent2;
  background-color: $accent1;
  border-radius: 5px;
  margin-bottom: 15px;
}

@mixin flexbox() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: #{$mobile-width}) {
    gap: 5px;
  }

  @media (min-width: 768px) {
    gap: 20px;
  }
}

@mixin grid-layout() {
  display: grid;
  row-gap: 30px;
  column-gap: 30px;

  @media (max-width: #{$mobile-width}) {
    grid-template-columns: 1fr;
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

@mixin loader() {
  @media (max-width: #{$mobile-width}) {
    margin: auto;
    margin-top: 50%;
  }

  @media (min-width: 768px) {
    position: absolute;
    right: 45%;
    top: 45%;
  }
}
