@import "./variables";
@import "./mixin";
@import "./reset";
@import "./header";
@import "./mainPage";
@import "./singlepage";

.container {
  max-width: 1728px;
  width: 100%;
  margin: 0 auto;
}
body {
  font-family: "Montserrat", "sans-serif";
  background-color: #f8f8f8;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
